.accueil {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url("https://i.pinimg.com/originals/51/fe/f5/51fef55a766fef4a7d37c99a913e3a82.jpg");
  background-size: cover;
}

.acc-button {
  height: 3vw;
  width: 12vw;
  background-color: orangered;
  background-size: cover;
  color: yellow;
  border-radius: 5px;
  align-items: center;
}

span {
  position: absolute;
  bottom: 65px;
  left: 46vw;
  font-size: 2em;
  margin-left: 3vw;
}

.background {
  background-image: url("https://i.imgur.com/plr4DLd.gif");
  width: 100%;
  height: 56vw;
  background-size: cover;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.heroImg {
  height: 200px;
  width: 140px;
  border: 3px solid;
  margin-top: 12px;
  margin-left: 25px;
  margin-right: 2vw;
  animation-name: playAnime;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.selectImg {
  height: 15vw;
  width: 10vw;
  border: 3px solid black;
}

.selectDiv {
  display: flex;
  flex-direction: column;
  padding-right: 4px;
  color: white;
}

.selectDiv:hover {
  background-color: crimson;
  border-radius: 10px 0px 10px;
}

.ctnPlayer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  width: 200px;
  color: white;
  margin-left: 25px;
}

.button {
  height: 11vw;
  width: 11vw;
  background: url("https://opengameart.org/sites/default/files/Attack.png");
  background-size: cover;
  font-size: 2em;
  margin-left: 21px;
  border: none;
}

@keyframes playAnime {
  0% {
    border-color: darkorchid;
  }
  50% {
    border-color: none;
  }
  100% {
    border-color: rebeccapurple;
    box-shadow: 0px 0px 50px violet;
  }
}

.punch {
  z-index: 1;
  position: fixed;
  top: 27px;
  right: 40px;
  background-image: url("/assets/explose.gif");
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 140px;
}

.punch2 {
  z-index: 1;
  position: fixed;
  top: 25px;
  left: 36px;
  background-image: url("/assets/explose.gif");
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 140px;
}

p {
  color: white;
}

h2 {
  position: absolute;
  left: 42vw;
  color: aliceblue;
}

.Select-perso {
  margin-right: 2vw;
}

.ready {
  z-index: 10;
  position: fixed;
  top: 20%;
  color: RED;
  font-size: 5em;
  text-align: center;
  text-shadow: 5px 5px 5px red;
  background-color: rgba(0, 0, 0, 0.8);
}

.tab {
  z-index: 10;
  position: fixed;
  font-size: 1.5em;
  color: white;
  left: 28vw;
  top: 10px;
  height: 700px;
  width: 500px;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
}

.html {
  background-color: black;
  width: 100%;
  height: 55vw;
}

.button2 {
  height: 11vw;
  width: 11vw;
  background-image: url("https://d1u5p3l4wpay3k.cloudfront.net/awesomenauts_gamepedia/1/1b/UI_Skillbutton_Brute_Attack.PNG");
  margin-bottom: -23vw;
  background-color: rgba(0, 0, 0, 0);
  background-position: center;
  background-size: cover;
  font-size: 2em;
  margin-left: 21px;
  border: none;
}
