<div *ngIf="!play">

  <div class="background">
    <div class="ctnPlayer">
      <img class="heroImg" src={{selected[0].images.md}}/> {{durability}} {{idHero}} {{powerH}} {{speedH}} {{strengthH}} {{intelligenceH}} {{nameH}}
      <button (click)="attack1()">Attack</button>
    </div>

    <div class="ctnPlayer">
      <img class="heroImg" src={{selected[1].images.md}}/> {{selected[1].name}} {{selected[1].powerstats.durability}} {{selected[1].idHero2}} {{selected[1].powerH2}} {{selected[1].speedH2}}
      {{selected[1].strengthH2}} {{selected[1].intelligenceH2}}
      <button (click)="attack2()">Attack</button>
    </div>
  </div>

</div>

<div *ngIf="play">

  <div *ngFor="let hero of ids">
    <img class="heroImg" (click)="test(hero)" [src]="hero.images.md" /> {{hero.name}}
  </div>

  <p>SELECT PERSO</p>
  <button (click)="start() ">start</button>

</div>
